<h1> <%= @post.title %></h1>
<br>
By: 
<br>
<%= link_to @post.blogger.name, bloggers_path(@blogger)%>
<br>
Destination 
<br> 
<%= @post.destination.name %>
<br>
<br>
<% @post.content %>
<%= @content %>


    
    



##########################################
1. Users should be able to create and edit a post
	- A post should have content longer than 100 characters
2. Users should be able to see a post's page with its title and content displayed. On this page, a user should see:
	- A link to the page of that post's author
	- A link to the page of that post's destination
	- A like button link that increases the like count for that post (should take the user to the same page)