<h1> <%= @destination.name  %> </h1>
<% @destination.posts.each do |post| %>
    <%= post.title %>

<%end%>

5 most recent posts 
Post with most likes 
Average age of all unique bloggers, that have written about destination



