<h1> <%= @destination.name  %> </h1>
<% @destination.posts.each do |post| %>
    <%= post.title %>

<%end%>






# - The most recent 5 posts written about this destination



# - A link to a featured post (this destination's post with the most likes)
# - The average age of all unique bloggers who have written about this destination.
